.container {
  width: 90%;
  font-family: 'Nanum Gothic', sans-serif;
}

.App-header {
  display: block;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  padding-top: 10px
}

.App-title {
  color: white;
  text-align: center;
}

.btn {
  margin: 2px 5px
}

p {
  font-size: 1.3em;
  line-height: 2em;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 80%
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%
  }
}