body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E6E6E6;
}

input, textarea, select, button, label {
  color: white;
  font: 500 14 'Nanum Gothic', sans-serif !important;
}
